/* style.css */
.navbar-brand {
  position: absolute; /* Konumunu ayarlamak için */
  left: 50%; /* Sol kenardan %50 uzaklık */
  transform: translateX(-50%); /* Elemanı kendi genişliğinin yarısı kadar sola kaydır */
}

.navbar .container {
  display: flex;
  justify-content: space-between; /* Elemanları iki yanda tut */
  align-items: center; /* Yatayda ortala */
}
.form-control {
  border-radius: 0.25rem;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

.nav-link {
  font-size: 1rem;
  color: #ffffff !important;
}

.bg-secondary {
  background-color: #343a40 !important;
}

.navbar-nav {
    flex-direction: row; /* Navbar öğelerini yatay olarak hizala */
    justify-content: center; /* Öğeleri merkezle */
    
}
.nav-item {
    margin: 0 25px; /* Her bir nav-item arasına boşluk ekle */
    padding: 0 10px;
}


/* Modal */
.cart-modal {
    display: none; /* Gizli olacak */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.cart-modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}
